{% extends 'base.html' %}
{% block title %}Главная{% endblock %}

{% block body %}
    <div class="text_on_home_page">
        <p>На этом сайте вы сможете консолидированно готовитсья к различным контрольным,
        зачетам, экзаменам, коллоквиумам.</p>
        <p>Для того, чтобы воспользоваться сайтом вам будет необходимо:
            <br>
            <ol>
                <li>Создать тему, в которую Вы будете добавлять подготовленные билеты</li>
                <li>Разошлите ссылку на тему другим людям, с которыми вы будете подготавливать билеты.</li>
                <li>В созданной теме, создать билет и в текстовом поле заполнить его содержимое,
                в качественном заполнении билета, вам поможет toolbar с различными html тэгами. </li>
                <li>Добавьте билет в тему</li>
                <li>Просматривайте созданные билеты в вашей теме и учите их или списывайте прямо с сайта ваши
                подготовленные билеты прям на экзамене.</li>
            </ol>
        </p>
    </div>
    Да,эта главная
    <script>
    document.getElementById('header_home_link').style.backgroundColor = 'background-color: #2B2B2B;';
    </script>
{% endblock %}